::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #8b8d90;
  border-radius: 20px;
}

body,
html {
  background-color: #7a869a;
}
